<div class="app-address-book">
  <!-- LEFT COLUMN -->
  <div class="app-directory-container">
    <!-- DIRECTORY COMPONENT -->
    <div class="app-directory" {{action 'showRightColumn'}}>
      {{#each item in model}}
        <div class="app-directory-item">
          {{item.firstName}} {{item.lastName}}
        </div>
      {{/each}}
    </div>
  </div>

  {{#if rightColumn}}
    <div class="app-person-profile-container">
      <!-- PERSON PROFILE COMPONENT -->
      <div class="app-person-profile docs-highlight docs-blue" data-intro="Person Profile" data-position="bottom">
        <!-- PERSON PROFILE HEADER -->
        <div class="app-person-profile-header">
          {{model}}
        </div>
      </div>
    </div>
  {{/if}}

</div>

{{outlet}}
